@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Chewy&family=Jersey+15&family=Jost:ital,wght@0,100..900;1,100..900&family=Major+Mono+Display&family=Ranchers&display=swap');
body{
    cursor: url('https://i.pinimg.com/736x/13/d9/d7/13d9d7b759a617f7b3a767a7ea5741ea.jpg'), auto;
    background-color: rgb(236, 201, 225);
    font-family: "Jost", serif;
}
header{
    background-color: rgb(216, 96, 178);
    height: 101px;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    flex-wrap: wrap;
    padding: 10px auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.title{
    margin: auto;
    font-size: 50px;
    transition: 0.5s;
    text-decoration: none;
    color: aliceblue;
    font-family: "Jersey 15", serif;
}
.title:hover{
    font-size: 60px;
}
nav{
    font-weight: 300;
    margin: auto auto auto 20%;
    font-size: 24px;
    color: rgb(205, 208, 210);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 600px;
    flex-wrap: wrap;
}
.block-home{
    background-color: beige;
    color: rgb(184, 156, 156);
    width: 87%;
    margin: 60px auto;
    border-radius: 16px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.line{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 13px;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px;
}
.box{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.greet{
    color: #d8a1d1;
}
.btn{
    display: block;
    padding: 11px;
    margin: 5px;
    border: 2.5px solid #9897f7;
    border-radius: 15px;
    font-weight: 400;
    color: #9897f7;
    text-decoration: none;
    font-size: 37px;
    transition: 1s;
}
.btn:hover{
    color: rgb(222, 112, 112);
    border: 2.5px solid rgb(222, 112, 112);
    font-size: 47px;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: rgb(205, 208, 210);
    text-decoration: none;
    transition: 0.5s;
}
.menu:hover{
    font-size: 35px;
}
.red_hover:hover{
    color: rgb(222, 9, 9);
}

.brands{
    width: 60%;
    margin: 15px;
}
.about{
    font-weight: 400;
    font-size: 45px;
    display: block;
    margin: 10px auto 10px auto;
    font-family: "Ranchers", serif;
}
.chewy{
    font-family: "Chewy", serif;
}
.icon{
    color: rgb(184, 156, 156);
    text-decoration: none;
    transition: 0.5s;
    font-size: 47px;
}
.icon:hover{
    font-size: 52px;
}
.black:hover{
    color: #24292e;
}
.blue:hover{
    color:  #0088cc;
}
.blue-dark:hover{
    color: #1DA1F2;
}
.green:hover{
    color: #1DB954;
}
.info-short{ 
    width: 70%;
    display: block;
    color: #d8a1d1;
    text-align: center;
    margin: 15px auto 15px auto;
    font-size: 25px;
}
footer{
    font-weight: 400;
    font-size: 26px;
}
*{
    transition: 0.5s;
}
.beige{
    background-color: rgb(237, 229, 200);
}
.box2{
    background-color: rgb(234, 190, 190);
    width: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    font-size: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5%;
    margin: 7%;
    text-align: center;
}
.block-resume{
    background-color: rgb(236, 201, 225);
    color: rgb(227, 140, 140);
    width: 87%;
    margin: 70px auto;
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 20px;
}
.title-r{
    font-size: 50px;
    font-family: "Ranchers", serif;
    color: rgb(227, 140, 140);
    text-align: center;
    transition: 1s;
}
.title-r:hover{
    font-size: 60px;
}
.edu-t{
    font-size: 40px;
    text-align: left;
    color: #bc3b99;
    display: block;
    margin: 70px;
    font-weight: 700;
}
.edu_year{
    font-size: 28px;
    color: #e153bb;
    font-weight: 600;
}
.edu_place{
    font-size: 30px;
    text-align: left;
    color: #3b2d37;
    display: block;
    font-weight: 500;
}
.disc{
    font-size: 25px;
    text-align: left;
    color: #625c60;
    display: block;
    font-weight: 300;
    margin-left: 7px;
}
.disc-place{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    font-size: 30px;
    color: rgb(33, 22, 30);
    font-weight: 400;
    margin-left: 4%;
    flex-wrap: wrap;
}
.line-r{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 13px;
}
.math{
    background-image: url('math-game.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;
}
.nano{
    background-image: url('nano.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;
}
.netstr{
    background-image: url('net-str.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;
}
.smart-home{
    background-image: url('smart-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;
}
.new-year{
    background-image: url('new-year.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: top;
}
.zoo{
    background-image: url('zoo.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: top;
}
.weather{
    background-image: url('weather.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: top;
}
.box-pr{
    aspect-ratio: 1 / 1;
    width: 40%;
    margin: 5%;
}
.title-pr{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: rgb(227, 140, 140);
}
.disc-pr{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: rgb(33, 22, 30);
    font-weight: 400;
}
.right{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 470px;
}
.click{
    display: block;
    font-size: 35px;
    text-decoration: none;
    width: 150px;
    padding: 7px;
    border: 3px solid #d50d88;
    border-radius: 16px;
    color: rgb(196, 89, 107);
    text-align: center;
    margin-top: 30px;
}
.click:hover{
    color: #ff009d;
    border: 3px solid #8c095a;
    font-size: 43px;
    width: 230px;
}
.icon-sk{
    width: 140px;
    height: 140px;
}
.python{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/community/logos/python-logo-only.png');
}
.html{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png');
}
.css{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('css3-logo-png-transparent.png');
}
.figma{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('Figma-1-logo.png');
}
.js{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('JavaScript-Logo.png');
}
.ci{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('c--logo-icon-0.png');
}
.icon-sk:hover{
    width: 200px;
    height: 200px;
}
.center{
    text-align: center;
    font-size: 45px;
    color: #3b2d37;
}
.skill{
    margin: 40px;
}
.more{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 47px;
    color: #4a133a;
}
